body{
	margin: 0;
	padding: 0;
	/*background-color: #00142f;*/
	background-image:linear-gradient(to bottom right, #24004f, #54005c 125%);
	color: white;
}

/* 		Start of header Section 			*/
/* 		For viewport less than 800px 	 */
			

header{
	height: 60px;
	width: 100%;
	max-width: 100%;
	display: flex;
	background-color: #e44bb9;
	/*border: 2px solid red;*/
}

header div{
	height: 60px;
	/*border: 2px solid black;*/
}


/* 		Brand is the company 
		name music player in this case */

#brand{
	width: 80%;
	display: flex;
	padding-top: 5px;
}

#brand img{
	height: 48px;
	width: 48px;
	margin-left: 10px;
}

#brand h2{
	margin-left: 4px;
}

#brand a{
	width: 100%;
	display: flex;
	color: black;
	text-decoration: none;
}


/* 	List containing features and trending
	display as none for devices < 800px */

#lists{
	display: none;
}

#search_and_profile{
	display: none;
}


/* 			Toggle = Hampsberg icon 	 */

#toggle{
	width: 20%;

}


/* 			For making hampsberg icon a link 	 */

#toggle a{
	display: block;
	text-decoration: none;
	min-height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-left: 5px;
}


/* 			List that need to be displayed
			 on clicking Hampsberg icon	 */
/* 			For viewport less than 800px 		 */

#toggle-list{
	display: none;
	padding: 0px;
	list-style: none;
	text-align: center;
	background-color: #0091ff;
}




/* 			Displaying list on clicking
 			the hampsberg icon 		 */
/* 			Only for viewport less than 800px 			 */



#toggle-list:target{
	display:block;
	position: absolute;
	top: 60px;
	/*left: 60px;*/
	width: 100%;
	z-index: 10;
}


/* Removing the default
	 styling of the anchor tag  */

#toggle-list a{
	color: black;
	text-decoration: none;
}

#toggle-list li{
	/*list-style: no*/
	font-weight: 500;
	margin-top: 5px;
}


/*  	psedo class for the list 	 */
#toggle-list li:hover{
	background-color: #3260d1;
}



/* 			Main - part starts 			*/
/* 		main has two section main -1 and main -2 */


main{
	display: flex;
	flex-wrap: wrap;
	height: 91vh;
	/*border: 2px solid white;*/
}




/* 		main-1 		*/
/* 		First section of the main 	 */


#main-1{
	width: 100%;
	height: 90vh;
	display: flex;
	flex-wrap: wrap;
}






/* 		Artists  Description 		*/



#Artist_description{
	margin-top: 10px;
	height: 40%;
	width: 95%;
	margin: auto;
	display: flex;
	box-shadow: 0 0 10px 0.5px white;
	padding: 5px;
	overflow-y: scroll;
}


/* 		To remove scroll bar 	 */

#Artist_description::-webkit-scrollbar{
	display: none;
}


/* 		Setting dimensions of image 	 */

#Artist_description>img{
	width: 30%;
}



/* 		Setting up about section 	 */

#Artist_description>div{
	padding: 10px;
}


#About_section>div{
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}



/* 		Button to play and follow
		in Artist description  	*/


#About_section>div button{
	background-color: #009d9d;
	color: white;

}


#About_section>div button:hover{
	box-shadow: 0 0 6px 1px white;
}




/* 			Artists  Playlists 			*/
/* 		Songs below the Artist description 	 */



#Artist_playlist{
	height: 56%;
	width: 100%;
	overflow-y: scroll;
}



#Artist_playlist::-webkit-scrollbar {
    display: none;
}


/* 		For Styling of each song bar 
		in Artist Playlist */


/* 		We are using this styling
		to all the songs in 
		Artists_playlists  */


.song_bar{
	width: 90%;
	height: 80px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	background-image: linear-gradient(to bottom right, #af00ff, #4f00ff 120%);
	border-radius: 10px 10px 10px 10px;
}



/* 		Flex property to both
		 title_bar & Play_shuffle button */

.song_bar>div{
	display: flex;

}


.title_bar{
	width: 55%;
	padding: 10px;
	align-items: center;
}


/* 		Dimensions of image in song bar */

.title_bar>img{
	height: 70px;
	width: 70px;
	margin-left: 20px;
	border-radius: 50%;
}


.title_bar>p{
	margin-left: 20px;
}


/* 		Styling of buttons in song_bar 	 */

.play_shuffle{
	width: 30%;
	justify-content: space-around;
	align-items: center;
}


.play_shuffle button{
	height: 50%;
	background-color: #009d9d;
	color: white;
}


/*	Hover on button to see the shadow effect*/

.play_shuffle button:hover{
	box-shadow: 0 0 6px 1px white;
}









/* 		main-2 		*/
/* 		Second section of main part 	 */
/* 		Viewport < 800px 	 */

#main-2{
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 10px;
}



/* 		Styling to the 
		title Similar Artists */

.change_font{
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	width: 100%;
}


/* 		Styling of each song
		 created in similar Artist */

/* 		The same styling will be used 
		to each and every song in the list */
.list_song{
	display: flex;
	height: 100%;
	background-image: linear-gradient(to bottom right, #af00ff, #4f00ff 120%);
	border-radius: 10px;
	margin-top: 20px;
	align-items: center;
	justify-content: space-around;
}


/* 		Adding scroll property 
		to list of songs */

.similar_artist{
	overflow-y: scroll;
	height: 80vh;
}



.similar_artist::-webkit-scrollbar{
	display: none;
}


.similar_artist>li{
	height: 70px;
}


.list_song>div{
	display: flex;
	height:  100%;
	width:  80%;
	align-items: center;
}


/* 		Setting dimensions of images in lists */

.list_song>div>img{
	height: 80%;
	width: 60px;
	border-radius: 5px;
	margin-left: 20px;
}


.list_song>div>p{
	margin-left: 20px;
}


.list_song a{
	width: 10%;
	color: #00efff;
}

.list_song a:hover{
	color: white;
}






/* 			Bottom Music Player 		 */
/* 		Initially it's display has set to none  */
/* 		Display changes to flex on targeting */





#bottom_music_player{
	display: none;
	border: 2px solid black;
	height: 90px;
	background-image: linear-gradient(to right bottom, #5b5d64, #416463 100%);
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
}


#bottom_music_player:target{
	display: flex;
}



/*	title 	*/

#title{
	/*background-color: cyan;	*/
	width: 55%;
	display: flex;
	/*border: 2px solid black;*/
}


/*	Image and title of the bottom music player*/

#title>div{
	width: 90%;
	display: flex;
	/*border: 2px solid black;*/
	justify-content: space-evenly;
	align-items: center;
}

#title>div>img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}


#title>div>p{
	/*border: 2px solid black;*/
	color: white;
	width: 75%;
}


/*	Link to the heart icon 	*/


#title>a{
	color: white;
}

#title>a:hover{
	color: red;
}



/* 	Heart icon */


#title i{
	width: 10%;
	/*border: 2px solid black;*/
	padding: 10px;
	align-items: end;
}



/*	controls	*/


#controls{
	/*background-color: cyan;*/
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*	icons containing shuffle, back, next, play/pause 	*/

#icons{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/* 	Link to all the icons */

#icons>a{
	color: white;
}


#icons>a:hover{
	color: #00edfd;
}



/*	progress bar 	*/


#progress{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*	outer progress bar */


#progress>div{
	display: flex;
	width: 80%;
	max-height: 6px;
	background-color: #d0d0d0;
	border-radius: 20px;
}


/* 	inner progress bar */


#progress>div>div{
	width: 42%;
	border-radius: 20px 0 0 20px;
	background-color: #00ffac;
}


#progress>div i{
	transform: translate(-4px, -4px);
}


/*	Sound bar display as none */
/* 	Visible for viewport (> 800px) */

#sound{
	display: none;
	width: 20%;
}















/* 				Desktop Version 				*/
/* 		For viewport above 800px    */


@media screen and (min-width: 800px){




/* 	Header section of the page */

/* 		Brand is the company 
		name music player in this case */
	#brand{
		width: 30%;
	}

	#lists{
		display: block;
		width: 55%;
	}


/*	contains the notification and profile */

	#search_and_profile{
		display: flex;
		width: 15%;
		justify-content: space-around;
		padding-top: 5px;
	}


/*	notification */

.notification{
	/*background-color: #cccccc;*/
	display: inline-block;
	position: relative;
	/*height: 50px;*/
	/*width: 50px;*/
	padding: 4px;
	border-radius: 50%;
}


#bell{
	/*background-color: cyan;*/
}


/* small notification badge of blue color */

#bar{
	position: absolute;
	display: flex;
	background-color: #004fffe3;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	top: 5%;
	right: 0;
	/*color: white;*/

}


/* 			Toggle = Hampsberg icon 	 */
/* 		We didn't want hampsberg icon now  */
/* 		So display = none */
	#toggle{
		display: none;
	}


/* 		List to be shown to user if
	viewport is greater than 800px */

	#desktop-only-list{
		display: flex;
		list-style: none;
		padding: 0;
		justify-content: space-around;
	}

	#desktop-only-list a{
		color: black;
		text-decoration: none;
		font-weight: 500;
		font-size: 22px;
		height: 60px;

	}

	/* 	pseudo class to changing the desktop list on hovering */


	#desktop-only-list a:hover{
		background-color: #e71ca6;
		border-bottom: 6px solid #00ff18;
	}

	#desktop-only-list li{
		padding-top: 10px;
	}

	#search_and_profile img{
		height: 48px;
		width: 48px;
		border-radius: 50%;
	}


	#desktop-only-list input{
		border-radius: 4px;
	}



	/*	Lists that contains search bar 	*/
	
	#search_list{
		background-color: white;
		/*border: 2px solid red;*/
		border-radius: 30px;
		margin-top: 10px;
		padding: 4px;
		max-height: 40px;
	}



	/* 	Search bar */


	#search_list input{
		border: none;
		outline: none;
		/*max-width: 60px;*/
	}



	/* 	Microphone and search icon in search bar */


	#desktop-only-list li i{
		color: blue;
	}


	#desktop-only-list li i:hover{
		color: #0000ffa3;
	}




	/* 		main part 		*/


main{
	display: flex;
	flex-wrap: nowrap;

	height: 91vh;
}


main>section{
	/*border: 2px solid white;*/
}





	/* 		main - 1  		*/


#main-1{
	width: 65%;
	display: flex;
	flex-wrap: wrap;
	
}

#main-1>div{
	/*border: 2px solid cyan;*/
}

 		/* 		Artists  Description 		*/



#Artist_description{
	margin-top: 10px;
	height: 40%;
	width: 100%;
	display: flex;
	box-shadow: 0 0 10px 0.5px white;
	padding: 5px;
	overflow-y: scroll;
}


/*	removing the scroll bar */


#Artist_description::-webkit-scrollbar{
	display: none;
}



/*	image in artist description */

#Artist_description>img{
	width: 30%;
}

#Artist_description>div{
	padding: 10px;
}


#About_section>div{
	margin-top: 15px;
	display: flex;
	justify-content: space-around;
}


/*	play all and follow button */

#About_section>div button{
	background-color: #009d9d;
	color: white;

}


#About_section>div button:hover{
	box-shadow: 0 0 6px 1px white;
}



		/* 			Artists  Playlists 			*/



#Artist_playlist{
	height: 56%;
	width: 100%;
	overflow-y: scroll;
}



#Artist_playlist::-webkit-scrollbar {
    display: none;
}


/*	each song bar representing the styling of 
	each song below artist description*/

.song_bar{
	width: 90%;
	height: 80px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	background-image: linear-gradient(to bottom right, #af00ff, #4f00ff 120%);
	border-radius: 10px 10px 10px 10px;
}

.song_bar>div{
	display: flex;

}


/*	contains image and title */

.title_bar{
	width: 55%;
	padding: 10px;
	align-items: center;
}


/*	image in the title section */

.title_bar>img{
	height: 70px;
	width: 70px;
	margin-left: 20px;
	border-radius: 50%;
}



/*	contains the title of the song */


.title_bar>p{
	margin-left: 20px;
}


/*	play all ans shuffle button section */

.play_shuffle{
	width: 30%;
	justify-content: space-around;
	align-items: center;
}


.play_shuffle button{
	height: 50%;
	background-color: #009d9d;
	color: white;
}


/*	shadow effect on hovering */

.play_shuffle button:hover{
	box-shadow: 0 0 6px 1px white;
}









		/* 		main-2 		*/


#main-2{
	width: 35%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 10px;

}


/*	styling to the header of similar artist */

.change_font{
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	width: 100%;
}


/* 	Represents the div of song lists  */
/*	contains the ordered list of all the songs*/

.list_song{
	display: flex;
	height: 100%;
	background-image: linear-gradient(to bottom right, #af00ff, #4f00ff 120%);
	border-radius: 10px;
	margin-top: 20px;
	align-items: center;
	justify-content: space-around;
}


/*	dimensions to the similar artists sections  */

.similar_artist{
	overflow-y: scroll;
	height: 80vh;
}


/*	removing the scroll bar */

.similar_artist::-webkit-scrollbar{
	display: none;
}


.similar_artist>li{
	height: 70px;
}


/* 	Contains the image and title of the songs */


.list_song>div{
	display: flex;
	height:  100%;
	width:  80%;
	align-items: center;
}


/*	styling of images of each song in similar artists section*/


.list_song>div>img{
	height: 80%;
	width: 60px;
	border-radius: 5px;
	margin-left: 20px;
}


/*	represents the title of the songs */

.list_song>div>p{
	margin-left: 20px;
}

.list_song a{
	width: 10%;
	color: #00efff;
}

.list_song a:hover{
	color: white;
}







/*	 		Bottom Music Player 			*/

/* 	Initially this bottom music player will be
	hidden but whenever we clicks the play button or 
	at the image of the songs this bottom music player pops up */










#bottom_music_player{
	display: none;
	/*border: 2px solid black;*/
	height: 70px;
	position: fixed;
	background-image: linear-gradient(to right bottom, #5b5d64, #416463 100%);
	width: 100%;
	bottom: 0;
	right: 0;
}



#bottom_music_player:target{
	display: flex;
	flex-direction: row;
}


/*	title 	*/

#title{
	/*background-color: cyan;	*/
	width: 40%;
	display: flex;
	/*border: 2px solid black;*/
}

#title>div{
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/*	styles to image */

#title>div>img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}


/*	Styles to paragraph */


#title>div>p{
	color: white;
}


/*	Link to heart icon */


#title>a{
	color: white;
}


#title>a:hover{
	color: red;
}


/*	Styling to heart icon */


#title i{
	width: 20%;
	/*border: 2px solid black;*/
	padding: 10px;
	align-items: end;
}



/*	controls	*/


#controls{
	/*background-color: cyan;*/
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* 	Contains all the icons shuffle, prev, next  */

#icons{
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/*	link to all the icon */

#icons>a{
	color: white;
}


#icons>a:hover{
	color: #00edfd;
}



/*	progress bar */

#progress{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*	Outer portion of progress bar */


#progress>div{
	display: flex;
	width: 80%;
	max-height: 6px;
	background-color: #d0d0d0;
	border-radius: 20px;
}


/*	inner portion of progress bar */


#progress>div>div{
	width: 42%;
	border-radius: 20px 0 0 20px;
	background-color: #00ffac;
}


#progress>div i{
	transform: translate(-4px, -4px);
}


/*	sound bar */

#sound{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/*background-color: cyan;*/
	width: 20%;
}


/*	sound icon */

#sound>i{
	color: white;
}


/* This is the progress bar of the sound */
/*	outer progress bar */

#sound>div{
	display: flex;
	width: 80%;
	max-height: 6px;
	background-color: #d0d0d0;
	border-radius: 20px;
}


/*	inner progress bar */


#sound>div>div{
	width: 42%;
	border-radius: 20px 0 0 20px;
	background-color: #00ffac;
}

#sound>div i{
	transform: translate(-4px, -4px);
}







}