body{
	margin: 0;
	padding: 0;
	color: white;
	background-image:linear-gradient(to bottom right, #24004f, #54005c 125%);
}


/* 		Start of header Section 			*/
/* 		For viewport less than 800px 	 */


header{
	height: 60px;
	width: 100%;
	max-width: 100%;
	display: flex;
	background-color: #e44bb9;
}

header div{
	height: 60px;
}


/* 		Brand is the company 
		name music player in this case */
#brand{
	width: 80%;
	display: flex;
	padding-top: 5px;
}


/* 		Setting the dimensions
	 of music player image 		*/

#brand img{
	height: 48px;
	width: 48px;
	margin-left: 10px;
}

#brand h2{
	margin-left: 4px;
}


/* 		Applying link to the company logo */

#brand a{
	width: 100%;
	display: flex;
	color: black;
	text-decoration: none;
}


/* 	List containing features and trending,
	display as none for devices < 800px */

#lists{
	display: none;
}

#search_and_profile{
	display: none;
}



/* 	Toggle = Hampsberg icon 	 */

#toggle{
	width: 20%;

}


/* 	For making hampsberg icon a link 	 */

#toggle a{
	display: block;
	text-decoration: none;
	min-height: 100%;
	width: 100%;
	padding-top: 10px;
	padding-left: 5px;
}



/* 			List that need to be displayed
			 on clicking Hampsberg icon	 */
/* 			For viewport less than 800px 		 */

#toggle-list{
	display: none;
	padding: 0px;
	list-style: none;
	text-align: center;
	background-color: #0091ff;
}



/* 			Displaying list on clicking
 			the hampsberg icon 
 			using pseudo class target		 */
/* 			Only for viewport less than 800px 			 */

#toggle-list:target{
	display:block;
	position: absolute;
	top: 60px;
	width: 100%;
	z-index: 10;
}

/* Removing the default
	 styling of the anchor tag  */

#toggle-list a{
	color: black;
	text-decoration: none;
}

#toggle-list li{
	font-weight: 500;
	margin-top: 5px;
}



/*  	psedo class for the list 	 */

#toggle-list li:hover{
	background-color: #3260d1;
}








/*		Main start 			*/

/* 	Main itself consist of two different part
	main -1 & main -2
	main -1 (for viewport <= 800px) 
	main -2 (for viewport > 800px) 		*/


/* 			Main-1 active for breakpoint 800px & below 		*/


#main-1{
	display: flex;
	flex-wrap: wrap;
	height: 90vh;
	color: white;
}



/* 		Artists and albums section of the page 			*/


#Artists_and_Albums{
	width: 100%;
	display: flex;
	flex-direction: column;
	max-height: 90vh;
	overflow-y: scroll;
}



/* 		Removing scroll Bar Indication 		*/


#Artists_and_Albums::-webkit-scrollbar {
    display: none;
}



	
/* 	Trending Artists Section Along with Animation on Hover*/
/* 	This is the carousel type structure or slider */


#Trending_Artists{
	width: 100%;
	display: flex;
	margin-top: 70px;
	justify-content: space-around;
	transition: 1s ease-in-out;
}

#Trending_Artists div{
	width: 150px;
	height: 150px;
	border-radius: 7px;
	transition: 1s ease-in-out;
}


/*	For Decreasing Opacity on non-hovering divs */

#Trending_Artists:hover  div:not(:hover){
	opacity: 0.5;
}




/* 			Change in dimensions on Hovering 		q*/


#Trending_Artists div:hover{
	width: 200px;
	height: 200px;
}

#Trending_Artists img{
	width: 100%;
	height: 100%;
	border-radius: 7px;
}



/*   Latest Release Section 			*/
/*	 Heading Latest Release Section 	 */


#Latest-release{
	margin-top: 100px;
	width: 40%;
	text-align: center;
	/*font-size: 30px;*/
	font-weight: 500;
}


/*  Latest Release Container for Containing songs inside  (divs)		*/

#latest-release-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*border: 2px solid yellow;*/
}


		
/*	Position Relative for lists positioning on target 		*/



#latest-release-container>div{
	display: flex;
	height: 70px;
	width: 40%;
	margin-top: 20px;
	position: relative;
	justify-content: space-around;
	/*border: 2px solid white;*/
}



/*	divs of image and title of latest release 	*/


#latest-release-container>div>div{
	display: flex;
	width: 80%;
	justify-content: space-around;
}

#latest-release-container>div>div p{
	height: 100%;
	width: 70%;
}


/* 	setting the size of the image */

#latest-release-container>div>div img{
	height: 100%;
	width: 20%;
	border-radius: 5px;
}


/* 		Menu bar 	 */

#latest-release-container>div i{
	margin-top: 8px;
}



/* 	List to be shown on targeting by the menu bar 			*/
/* 	Initial display is none will 
	be displayed after clicking on the menu bar */


#main-1 .music-option{
	display: none;
	list-style: none;
	position: absolute;
	background-color: black;
	z-index: 10;
	transform:translate(60px);
	padding: 20px;
	/*height: 200px;
	width: 200px;*/
}


/* 		removing the default effect of links*/

#main-1 .music-option a{
	color: white;
	text-decoration: none;
}

#main-1 .music-option:target li:hover{
	background-color: #004a53;
}



/* 		Pseudo class (target) to display the popup menu 		*/

#main-1 .music-option:target{
	display: block;
	list-style: none;
	position: absolute;
	background-color: black;
	z-index: 10;
	transform:translate(60px);
	padding: 20px;
}



/*  		Popular Artists Section 		 */
/* It contains images of the artists
	along with the link to move 
	to the second html page (Artists Page) */

#popular-artists{
	margin-top: 70px;
	margin-bottom: 50px;
	width: 40%;
	text-align: center;
	font-weight: 500;
}

#popular-artists-conatiner{
	height: 100px;
	display: flex;
	justify-content: space-around;
}


#popular-artists-conatiner a{
	color: white;
	text-decoration: none;
}

#popular-artists-conatiner div{
	text-align: center;
	height: 100px;
	width: 100px;
}

#popular-artists-conatiner div img{
	height: 70%;
	width: 70px;
	border-radius: 50%;
}



/*  			Events 						*/

#events{
	display: flex;
	margin: 70px 0px;
	justify-content: space-around;
}

#events div{
	height: 150px;
	width: 25%;
	border-radius: 10px;
	overflow: hidden;
}


#events div img{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}


/* 	Changing the size on hovering the image */
/*	To access the zooming effect */


#events div img:hover{
	transform: scale(2);
}


#events div p{
	text-align: center;
	transform: translateY(-80px);
	font-size: 25px;
	font-weight: 700;
}






/* 		Latest Release English 			*/
/* 			Same For Hindi part as well 		*/




#latest-release-english{
	margin-top: 70px;
	margin-bottom: 50px;
	width: 40%;
	text-align: center;
	font-weight: 500;
}



/* 		Containing all the divs of song 		*/



#latest-release-english-container{
	height: 120px;
	display: flex;
	justify-content: space-around;
}



/* Containing divs for a particular song  		*/



#latest-release-english-container div{
	height: 120px;
	width: 15%;
	border-radius: 10px;
	text-align: center;
}

#latest-release-english-container div img{
	height: 80%;
	width: 80%;
	border-radius: 10px;
}

/* 	Hovering to add the box-shadow to the songs */

#latest-release-english-container div img:hover{
	box-shadow: 0 0 12px 1px white;
}







/* 		Section - 2 ( Trending_Playlists) 		*/
/* 			Lists of Trending songs 		*/



#Trending_playlists{
	width: 100%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}




/*  		Heading of Song Lists 			*/


#Playlist_heading{
	padding-top: 20px;
	font-size: 20px;
	font-weight: 500;
	background-color: #00094f;
	text-align: center;
}


/* 	Playlist is an ordered list */

#playlist{
	display: flex;
	flex-direction: column;
	max-height: 90vh;
	overflow-y:scroll;
}


/* 		 Used to remove the scroll bar 		*/


#playlist::-webkit-scrollbar {
    display: none;
}


/* 	Spacing b/w two different songs in a lists */
#playlist>li{
	margin-top: 30px;

}


/* 		Song lists starts from here 	*/

#one{
	/*border:2px solid white;*/
}

#one>div{
	display: flex;
	justify-content: space-around;
}


/* 	Hover to change the color of heart icon */

#one>div>i:hover{
	color: red;
}


/* Setting the dimensions of the image song */

#one div img{
	height: 40px;
	width: 40px;
}


#one ul{
	list-style: none;
}


/* 	Song_title contains image 
	and title of the songs */

#song_title{
	display: flex;
	width: 70%;
	justify-content: space-around;
}

#song_title a{
	color: white;
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
}





#song_title a img{
	width: 20%;
}




#song_title a ul{
	list-style: none;
	width: 75%;
}


.bold{
	font-weight: 500;
}


/* 		Main - 2 disable for viewport < 800px	*/
/* 		Main - 2 will be active for break points 800px and above 	 */


#main-2{
	display: none;
}






/*	 		Bottom Music Player 			*/

/* 	Initially this bottom music player will be
	hidden but whenever we clicks the play button or 
	at the image of the songs this bottom music player pops up */








#bottom_music_player{
	display: none;
	border: 2px solid black;
	height: 90px;
	background-image: linear-gradient(to right bottom, #5b5d64, #416463 100%);
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
}


#bottom_music_player:target{
	display: flex;
}



/*	title 	*/

#title{
	/*background-color: cyan;	*/
	width: 55%;
	display: flex;
	/*border: 2px solid black;*/
}


/*	Image and title of the bottom music player*/

#title>div{
	width: 90%;
	display: flex;
	/*border: 2px solid black;*/
	justify-content: space-evenly;
	align-items: center;
}

#title>div>img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}


#title>div>p{
	/*border: 2px solid black;*/
	color: white;
	width: 75%;
}


/*	Link to the heart icon 	*/


#title>a{
	color: white;
}

#title>a:hover{
	color: red;
}



/* 	Heart icon */


#title i{
	width: 10%;
	/*border: 2px solid black;*/
	padding: 10px;
	align-items: end;
}



/*	controls	*/


#controls{
	/*background-color: cyan;*/
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/*	icons containing shuffle, back, next, play/pause 	*/

#icons{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/* 	Link to all the icons */

#icons>a{
	color: white;
}


#icons>a:hover{
	color: #00edfd;
}



/*	progress bar 	*/


#progress{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*	outer progress bar */


#progress>div{
	display: flex;
	width: 80%;
	max-height: 6px;
	background-color: #d0d0d0;
	border-radius: 20px;
}


/* 	inner progress bar */


#progress>div>div{
	width: 42%;
	border-radius: 20px 0 0 20px;
	background-color: #00ffac;
}


#progress>div i{
	transform: translate(-4px, -4px);
}


/*	Sound bar display as none */
/* 	Visible for viewport (> 800px) */

#sound{
	display: none;
	width: 20%;
}










/* 				BreakPoint At 800px 			*/
/* 	For the viewport above 800px */



@media screen and (min-width: 800px){


	/* 		Brand is the company 
		name music player in this case */
	#brand{
		width: 30%;
	}


	#lists{
		display: block;
		width: 55%;
	}



	/*	contains notification and profile */

	#search_and_profile{
		display: flex;
		width: 15%;
		justify-content: space-around;
		padding-top: 5px;
	}

/*	bell icon with notification badge*/

.notification{
	/*background-color: #cccccc;*/
	display: inline-block;
	position: relative;
	/*height: 50px;*/
	/*width: 50px;*/
	padding: 4px;
	border-radius: 50%;
}


#bell{
	/*background-color: cyan;*/
}


#bar{
	position: absolute;
	display: flex;
	background-color: #004fffe3;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	top: 0;
	right: 0;
	/*color: white;*/

}

	#toggle{
		display: none;
	}


	/* 	This is contains featured and trending which
		is visible for (> 800px) */

	#desktop-only-list{
		display: flex;
		list-style: none;
		padding: 0;
		justify-content: space-around;
	}

	#desktop-only-list a{
		color: black;
		text-decoration: none;
		font-weight: 500;
		font-size: 22px;
		height: 60px;

	}

	#desktop-only-list a:hover{
		background-color: #e71ca6;
		border-bottom: 6px solid #00ff18;
	}

	#desktop-only-list li{
		padding-top: 10px;
		/*border: 2px solid white;*/
	}



	/*	Lists that contains search bar 	*/
	
	#search_list{
		background-color: white;
		/*border: 2px solid red;*/
		border-radius: 30px;
		margin-top: 10px;
		padding: 4px;
		max-height: 40px;
	}



	/* 	Search bar */


	#search_list input{
		border: none;
		outline: none;
		/*max-width: 60px;*/
	}



	/* 	Microphone and search icon in search bar */


	#desktop-only-list li i{
		color: blue;
	}


	#desktop-only-list li i:hover{
		color: #0000ffa3;
	}


	/* 	Image at the last of header section
		Setting dimensions and make image rounded
		using border-radius */

	#search_and_profile img{
		height: 48px;
		width: 48px;
		border-radius: 50%;
	}




	/* 			main start 		*/

/* 	main -1 is for devices (<= 800px) */

#main-1{
	display: none;
}


/* 	main -2 is for devices (> 800px) */

#main-2{
	display: flex;
	height: 90vh;
	/*border: 2px solid white;*/
	color: white;
}




/* 		Section - 1 ( Artists_and_Albums) 		*/
/* 		Albums and Aritists Section 		*/



#Artists_and_Albums{
	width: 65%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}



/* 		Removing scroll Bar Indicaltion 		*/


#Artists_and_Albums::-webkit-scrollbar {
    display: none;
}



	
/*	Trending Artists Section Along with Animation on Hover*/
/* 	This is the carousel type structure or slider */


#Trending_Artists{
	width: 100%;
	display: flex;
	margin-top: 70px;
	justify-content: space-around;
	transition: 1s ease-in-out;
}

#Trending_Artists div{
	width: 15em;
	height: 15em;
	border-radius: 7px;
	transition: 1s ease-in-out;
}


/*  		For Decreasing Opacity on non-hovering divs 		*/

#Trending_Artists:hover  div:not(:hover){
	opacity: 0.5;
}



/* 			Change in dimensions on Hovering 		*/


#Trending_Artists div:hover{
	width: 20em;
	height: 20em;
}

#Trending_Artists img{
	width: 100%;
	height: 100%;
	border-radius: 7px;
}



/* 			Latest Release Section 			*/
/* 			Heading Latest Release Section 	 */


#Latest-release{
	margin-top: 100px;
	width: 40%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
}


/* 			Latest Release Container for Containing songs inside  (divs)		*/

#latest-release-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


		
/* 			Position Relative for lists positioning on target 		*/



#latest-release-container>div{
	display: flex;
	height: 70px;
	width: 40%;
	margin-top: 20px;
	position: relative;
	justify-content: space-around;
}



/* 		divs of image and title of latest release 			*/


#latest-release-container>div>div{
	display: flex;
	width: 80%;
	justify-content: space-around;
}

#latest-release-container>div>div p{
	height: 100%;
	width: 70%;
}

#latest-release-container>div>div img{
	height: 100%;
	width: 20%;
	border-radius: 5px;
}

#latest-release-container>div i{
	margin-top: 8px;
}



/* 			List to be shown on targeting by the menu bar 			*/



.music-option{
	display: none;
	list-style: none;
	position: absolute;
	background-color: black;
	z-index: 10;
	transform:translate(60px);
	padding: 20px;
}


/* 		removing the default effect of links*/



.music-option a{
	color: white;
	text-decoration: none;
}

.music-option:target li:hover{
	background-color: #004a53;
}



/* 		Pseudo class target to display the popup menu 		*/



.music-option:target{
	display: block;
	list-style: none;
	position: absolute;
	background-color: black;
	z-index: 10;
	transform:translate(60px);
	padding: 20px;
}



/*  		Popular Artists Section 		 */


#popular-artists{
	margin-top: 70px;
	margin-bottom: 50px;
	width: 40%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
}

#popular-artists-conatiner{
	height: 150px;
	display: flex;
	justify-content: space-around;
}

#popular-artists-conatiner div{
	text-align: center;
	height: 10em;
	width: 10em;
}

#popular-artists-conatiner div img{
	height: 70%;
	width: 70px;
	border-radius: 50%;
}



/*  			Events 						*/

#events{
	display: flex;
	margin: 70px 0px;
	justify-content: space-around;
}

#events div{
	height: 150px;
	width: 25%;
	border-radius: 10px;
	overflow: hidden;
}


#events div img{
	height: 100%;
	width: 100%;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}


/* 	Changing the size on hovering the image */


#events div img:hover{
	transform: scale(2);
}


#events div p{
	text-align: center;
	transform: translateY(-80px);
	font-size: 25px;
	font-weight: 700;
}






/* 		Latest Release English 			*/

/* 			Same For Hindi part as well 		*/




#latest-release-english{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 40%;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
}



/* 		Containing all the divs of song 		*/



#latest-release-english-container{
	height: 120px;
	display: flex;
	justify-content: space-around;
}



/* 	Hovering to create a shadow effect */


#latest-release-english-container>div img{
	transition: 0.5s ease-in-out;
}

#latest-release-english-container>div img:hover{
	box-shadow: 0 0 12px 1px white;
}



/* Containing divs for a particular song  		*/



#latest-release-english-container div{
	height: 120px;
	width: 15%;
	border-radius: 10px;
	text-align: center;
}

#latest-release-english-container div img{
	height: 80%;
	width: 80%;
	border-radius: 10px;
}








/* 		Section - 2 ( Trending_Playlists) 		*/
/*  		Section -2 (Left Section) 			*/
/* 			Lists of Trending songs 		*/



#Trending_playlists{
	width: 35%;
	/*border: 2px solid white;*/
	display: flex;
	margin-top: 0px;
	flex-direction: column;
}




		/*  		Heading of Song Lists 			*/


#Playlist_heading{
	padding-top: 20px;
	font-size: 20px;
	font-weight: 500;
	background-color: #00094f;
	text-align: center;
}

#playlist{
	/*border: 2px solid red;*/
	display: flex;
	flex-direction: column;
	max-height: 90vh;
	overflow-y:scroll;
}


/* 		 Used to remove the scroll bar 		*/


#playlist::-webkit-scrollbar {
    display: none;
}

#playlist>li{
	margin-top: 30px;

}


/* 		Song lists starts from here 			*/

#one{
	/*border:2px solid white;*/
}

#one>div{
	display: flex;
	justify-content: space-around;
}


/*	styling to heart icon of songs */

#one>div>i:hover{
	color: red;
}


/*	styling to image and title bar */

#song_title{
	display: flex;
	width: 70%;
	justify-content: space-around;
}


#song_title a{
	color: white;
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: space-around;
}



/*	setting dimensions of each image of the songs */

#song_title a img{
	width: 20%;
	height:100%;
}



/*	title of the songs */

#song_title a ul{
	list-style: none;
	width: 75%;
}

.bold{
	font-weight: 500;
}







/*	 		Bottom Music Player 			*/

/* 	Initially this bottom music player will be
	hidden but whenever we clicks the play button or 
	at the image of the songs this bottom music player pops up */






#bottom_music_player{
	display: none;
	/*border: 2px solid black;*/
	height: 70px;
	position: fixed;
	background-image: linear-gradient(to right bottom, #5b5d64, #416463 100%);
	width: 100%;
	bottom: 0;
	right: 0;
}



#bottom_music_player:target{
	display: flex;
	flex-direction: row;
}


/*	title 	*/

#title{
	/*background-color: cyan;	*/
	width: 40%;
	display: flex;
	/*border: 2px solid black;*/
}

#title>div{
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/*	styles to image */

#title>div>img{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}


/*	Styles to paragraph */


#title>div>p{
	color: white;
}


/*	Link to heart icon */


#title>a{
	color: white;
}


#title>a:hover{
	color: red;
}


/*	Styling to heart icon */


#title i{
	width: 20%;
	/*border: 2px solid black;*/
	padding: 10px;
	align-items: end;
}



/*	controls	*/


#controls{
	/*background-color: cyan;*/
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


/* 	Contains all the icons shuffle, prev, next  */

#icons{
	width: 60%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


/*	link to all the icon */

#icons>a{
	color: white;
}


#icons>a:hover{
	color: #00edfd;
}



/*	progress bar */

#progress{
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*	Outer portion of progress bar */


#progress>div{
	display: flex;
	width: 80%;
	max-height: 6px;
	background-color: #d0d0d0;
	border-radius: 20px;
}


/*	inner portion of progress bar */


#progress>div>div{
	width: 42%;
	border-radius: 20px 0 0 20px;
	background-color: #00ffac;
}


#progress>div i{
	transform: translate(-4px, -4px);
}


/*	sound bar */

#sound{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/*background-color: cyan;*/
	width: 20%;
}


/*	sound icon */

#sound>i{
	color: white;
}


/* This is the progress bar of the sound */
/*	outer progress bar */

#sound>div{
	display: flex;
	width: 80%;
	max-height: 6px;
	background-color: #d0d0d0;
	border-radius: 20px;
}


/*	inner progress bar */


#sound>div>div{
	width: 42%;
	border-radius: 20px 0 0 20px;
	background-color: #00ffac;
}

#sound>div i{
	transform: translate(-4px, -4px);
}








}